%h1.page-header Dashboard
.row
  .col-md-9
    .panel.panel-default
      .panel-heading Real-Time Attacks
      .panel-body  
        / %button.btn.btn-default.btn-sm Update
        .table-responsive
          %table.table
            %thead
              %tr
                %th Name
                %th Threat
                %th Attacker
                %th Attacker IP
                %th Attacker Geo
                %th Target
                %th Target IP
                %th Target Geo
            %tbody
              - @attacks.each do |attack|
                %tr
                  %td= attack.name
                  %td= attack.threat.name
                  %td= attack.attacker
                  %td= attack.attacker_ip
                  %td= attack.attacker_geo
                  %td= attack.target
                  %td= attack.target_ip
                  %td= attack.target_geo
              %tr
                %td{"colspan": "7"}
                  .load-more-container
                    = link_to "Load More", "#", class: 'btn btn-default btn-sm'
                    = image_tag 'loading.gif', style: 'display: none'


  .col-md-3
    .panel.panel-default
      .panel-heading Main
      .panel-body
        %canvas#gauge

.row
  .col-md-4
    .panel.panel-default
      .panel-heading Gauges
      .panel-body
  .col-md-8
    .panel.panel-default
      .panel-heading Details
      .panel-body
